@font-face {
    font-family: onepiece;
    src:url("./fonts/op.ttf");
}

html {
    box-sizing: border-box;
    width: 100%;
    
    background-image: url(../img/wall.jpg); 
    
    background-blend-mode: screen;
    background-position-x: center;
    background-repeat: repeat;
    
    
    /* border: 2px solid white; */
}





#particles-js {
    width: 100%;
    height: 120%;
    
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: repeat;
    position: absolute;
    
}

canvas {
	
    display: block;
    
}






  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

  

    .map{
       
       
        width: 90%;
        margin: 0 auto;
    }

    p,h4{
        font-family: 'Raleway', sans-serif;
        margin: 1rem;
        font-size: 11px;
    }

     /* For all zoom buttons */
     .mapael .zoomButton {
        background-color: #fff;
        border: 1px solid #ccc;
        color: #000;
        width: 15px;
        height: 15px;
        line-height: 15px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        position: absolute;
        top: 0;
        font-weight: bold;
        left: 10px;

        -webkit-user-select: none;
        -khtml-user-select : none;
        -moz-user-select: none;
        -o-user-select : none;
        user-select: none;
    }

    /* Reset Zoom button first */
    .mapael .zoomReset {
        top: 10px;
    }

    /* Then Zoom In button */
    .mapael .zoomIn {
        top: 30px;
    }

    /* Then Zoom Out button */
    .mapael .zoomOut {
        top: 50px;
    }

    .mapael .mapTooltip {
        position: absolute;
        background-color: #474c4b;
        
        
        filter: alpha(opacity=70);
        border-radius: 10px;
        padding: 10px;
        z-index: 1000;
        max-width: 200px;
        display: none;
        color: #fff;
    } /* For all zoom buttons */
        .mapael .zoomButton {
            background-color: #fff;
            border: 1px solid #ccc;
            color: #000;
            margin: 1rem;
            width: 25px;
            height: 25px;
            line-height: 15px;
            text-align: center;
            border-radius: 3px;
            cursor: pointer;
            position: absolute;
            top: 0;
            font-weight: bold;
            left: 10px;

            -webkit-user-select: none;
            -khtml-user-select : none;
            -moz-user-select: none;
            -o-user-select : none;
            user-select: none;
           
        }

        /* Reset Zoom button first */
        .mapael .zoomReset {
            padding-bottom: 2px;
            top: 10px;
        }

        /* Then Zoom In button */
        .mapael .zoomIn {
            top: 30px;
        }

        /* Then Zoom Out button */
        .mapael .zoomOut {
            top: 50px;
        }

        .mapael .mapTooltip {
            position: absolute;
            background-color: #474c4b;
            moz-opacity: 0.70;
            opacity: 0.70;
            filter: alpha(opacity=70);
            border-radius: 10px;
            padding: 10px;
            z-index: 1000;
            max-width: 200px;
            display: none;
            color: #fff;
        }
        
        #link-botones{
            display: none;
        }

        .contenedor-isladatos{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
        }

        